@model FutbolLigi.Models.PuanTablosu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PuanTablosu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakimAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakimAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Galibiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Galibiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beraberlik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beraberlik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maglubiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maglubiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtilanGol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtilanGol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YenilenGol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YenilenGol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
